.button {
  background-color: var(--main-accent-color);
  color: var(--secondary-typography-color);
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
