.button {
  background-color: var(--main-accent-color);
  color: var(--secondary-typography-color);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
  border: solid 3px var(--main-typography-color);
  
}

.button:hover {
  
  opacity: 0.8;

}
