/* Tags section */
.tagsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .tagsContainer h3 {

    color: var(--secondary-typography-color);
    font-size: 3rem;
  }

  .healthLabels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .healthLabelTag {
    padding: 0.5rem 1rem;
    background-color: var(--main-bg-color);
    border: 0.2rem solid black;
  }