.mealCard {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: aqua;
    padding: 1.5rem;
    border-radius: 1rem;

}

.mealInfo {

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.mealCard h2 {

    font-size: 2rem;
}

.imgContainer img {

    width: 100%;

}

