
.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    
   
}

.searchContainer h1 {

   
    font-weight: 900;
    
}

.searchInput {

    
    display: flex;
    border-radius: 0.5rem;
    padding-left: 0.5rem;

    
    
}
.inputContainer {

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}

.mealCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

@media (min-width: 769px) {

    .searchInput {
        width: 50%;
        max-width: 30rem;;
    }

    .inputContainer {

        justify-content: center;
        height: 3rem;
    }

    .searchContainer h1 {

        font-size: 10rem;
        text-align: center;
    }
    
}